@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    overflow: auto;
  }
  
  
  
  /* Estilos del encabezado */
  header {
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  
  .logo {
    margin-left: 50px;
  }
  
  .logo img {
    width: 250px; /* Ajusta el tamaño del logo según tus necesidades */
  }
  
  .menu {
    margin-left: 900px;
    font-size: 20px;
    font-weight: normal;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
  }
  
  .menu ul li {
    margin-left: 30px;
    padding: 10px 5px;
    font-size: 20px;
  }
  
  .menu ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.1s ease;
    font-weight: normal;
    
  }
  
  .menu ul li a:hover {
    color: #f809f4;
    
  }
  

  .main-menu li{
    font-weight: normal;
  }


  .top-menu {
    display: flex;
    font-weight: bod;
    align-items: center;
    margin-top: 2px;
    margin-right: 0px;
    margin-left: 300px;
  }
  

  .top-menu li {
    margin-right: 100px;
    margin: 10px;
    position: relative;
    font-size: small;
  } 
  
  .top-menu li:hover {
    color: #ff9100; /* Cambio de color de las letras al pasar el mouse */
  }
  
  
  .top-menu .signin a {
    color: rgb(0, 0, 0); /* Color predeterminado del enlace "Sign in" */
  }
  
  .top-menu .signin a:hover {
    color: rgb(255, 255, 255); /* Cambio de color a verde al pasar el mouse */
    box-shadow: 0 0 0 8px #dd12d3;
    border-radius: 2px;
    background-color: #dd12d3;
    transition: background-color 0.6s ease;
  }
  
  
  /*banner*/
  
  /* Estilos para el banner */
  .banner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d4d2d2;
    padding: 20px;
    text-align: center;
    z-index: 9999;
  }
  
  .banner img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  
  .banner .close-button {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #ff0000;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
  /*sub menu para leguage*/

  
  
  .top-menu .Language ul {
    display: none;
    position: absolute;
    top: 80%;
    left: 0;
    padding-left: 0px;
    padding-right: 300px;
    padding-bottom: 0px;
    margin-left: 0;
    background-color: #ffffff;
    border: 1.5px solid #f50ad5;
    z-index: 999;
    border-radius: 2px;
   
  }
  
  .top-menu .Language:hover ul {
    display: block;
  }
  
  .language-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .language-menu li {
    width: calc(20% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  .language-menu li:last-child {
    margin-right: 0;
  }

  
  .top-menu .Language a {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: #000000;
  }
  
  .top-menu .Language a:hover {
    background: linear-gradient(to right, rgb(247, 5, 247), rgb(61, 2, 129) );
    border-radius: 8px;
  }
  
  .top-menu .Language img {
    width: 80px;
    height: 55px;
    margin-right: 10px;
  }
  
  .top-menu .Language span {
    display: block;
    margin-top: 3px;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
  }
  .top-menu .Language a:hover span {
    color: #ff6b9a;
  }

  .get-started-button {
    text-align: center;
    border: 2px solid #ee0bc8;
    margin-left: 80px;
    background-color: #eeeeee;
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px; /* Modifica el tamaño del borde semi redondo aquí */
    transition: background-color 0.3s ease;
    font-weight: bold;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 20px;
    
  }
  
  .get-started-button:hover {
    background: linear-gradient(to bottom right, #5900ff, #a200ff, #f700ff );
    color: #fff;
    box-shadow: 0 0 30px rgb(251, 3, 247);
    
  }





  
  /*-----------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------
  media query responsive
  -------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------*/
  .mobile-menu {
    display: none;
  }

  .open-menu-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
  }

  .slidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 100px;
    right: -300px;
    background-color: #fff;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  .slidebar.open {
    right: 0;
  }

  .slidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .slidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  /* Media Query para dispositivos móviles */
  @media screen and (max-width: 768px) {
    /* ... (otros estilos) ... */

    /* Estilos para el menú deslizable */
    .mobile-menu {
      display: block;
    }

    .menu {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    header {
      padding: 10px;
     
    }
  
    .logo {
      margin-left: 0;
      text-align: center;
      margin-bottom: 20px;
      
    }
  
    .menu {
      margin: 0;
      padding: 0;
    }
  
    .menu ul {
      display: block;
      text-align: center;
    }
  
    .menu ul li {
      margin: 0px 0;
    }
  
    /* ... (otros estilos) ... */
  
    /* Estilos para el banner en dispositivos móviles */
    .banner {
      width: 90%;
      padding: 10px;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -70%);
    }
  
    .banner img {
      width: 100%;
    }
  
    
    .top-menu .Language ul {
      display: none;
      position: static;
      margin-left: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      z-index: 999;
      border-radius: 0;
    }
  
    .top-menu .Language:hover ul {
      display: none;
    }
  
    .language-menu {
      flex-direction: column;
      align-items: center;
    }
  
    .language-menu li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      text-align: center;
    }
  }

 /*termino media query 1 */



  /*header top */
  
  
  .main-section {
    background-image: url("https://terawatt.s3.us-east-2.amazonaws.com/img/data+center.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 70px;
    color: #ffffff;
    margin-top: 0PX;
    font-family: 'Poppins', sans-serif;
  }
  
  .text {
    margin-top: 150px;
    font-size: 24px;
    color: #ffffff;

  }
  
  .logos {
    margin-top: 0px;
    
  }
  
  .logos img {
    width: 10%;
    height: auto;
    margin: 0 25px;
    margin-top: 100px;
    
  }





  
/* carta de tipos de data centers*/

  .section {
    text-align: left;
    margin-left: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .title-wrapper {
    margin-bottom: 20px;
  }

  /* Estilos para el contenedor del texto */
.custom-heading {
    font-size: 60px;
    color: #000;
    text-align: left;
    margin: 20px;
    position: relative; /* Agregamos posición relativa para alinear el separador */
    margin-left: 50px;
  }
  
  /* Estilos para el separador (línea horizontal) */
  .separator5 {
    width: 20%; /* Ancho de la línea (puedes ajustarlo al valor que desees) */
    height: 3px; /* Altura de la línea (puedes ajustarlo al valor que desees) */
    background-color: #d900ff; /* Color de la línea (puedes cambiarlo a tu preferencia) */
    margin: 20px auto; /* Márgenes (20px arriba y abajo, y centrado horizontalmente) */
    margin-left: 0px;
    margin-bottom: 80px;
  }
  
  a {
    color: rgb(0, 255, 238); /* Cambia el color del texto del enlace */
    text-decoration: none; /* Quita la subrayado por defecto del enlace */
    font-weight: bold;
  }
  
  /* Estilo cuando se pasa el mouse por encima del enlace */
  a:hover {
    color: rgb(238, 0, 255); /* Cambia el color del texto cuando se pasa el mouse por encima */
    text-decoration: underline; /* Agrega un subrayado cuando se pasa el mouse por encima */
  }
  

  .para {
    font-size: 24px;
    color: black;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .cards-container1 {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
  }

  .box {
    width: 480px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 60px;
    position: relative;
    overflow: hidden;
  }

  .box:hover .bg-image {
    transform: scale(1.1);
    
  }

  .box::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 2);
    opacity: 0;
    transition: height 0.3s, opacity 0.3s;
  }

  .box:hover::before {
    height: 80%;
    opacity: 0.6;
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 150%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .box:hover .content {
    opacity: 1;
  }

  .bg-image1 {
    width: 100%;
    height: 100%;
    background-image: url('https://terawatt.s3.us-east-2.amazonaws.com/img/8.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    transition: transform 0.3s;
    
  }

  
  .bg-image2 {
    width: 100%;
    height: 100%;
    background-image: url('https://terawatt.s3.us-east-2.amazonaws.com/img/data+aire.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s;
  }

  
  .bg-image3 {
    width: 100%;
    height: 100%;
    background-image: url('https://terawatt.s3.us-east-2.amazonaws.com/img/data+inmersion.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s;
  }

  .icon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .sub-heading {
    font-size: 15px;
    margin-bottom: -15px;
    
  }

  .card-heading {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .desc {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .link {
    font-size: 15px;
    text-decoration: none; /* Elimina la línea debajo del enlace */
    color:#03c9fa;
    font-weight: bold;
    text-align: center;
    margin-left: -30px;
  }
  .link:hover{
    font-weight: bold;
    color: #d900ff;
  }
  
  
  /*-----------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------
  media query responsive
  -------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------*/
/* Media query para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
  .section {
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .custom-heading {
    font-size: 36px;
    margin: 10px;
    margin-left: 10px;
  }

  .separator5 {
    width: 30%;
    height: 2px;
    margin: 10px auto;
    margin-left: 0;
    margin-bottom: 40px;
  }

  .para {
    font-size: 16px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cards-container1 {
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
  }

  .box {
    width: 100%;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin-right: 0;
    margin-bottom: 20px;
  }

  .bg-image1,
  .bg-image2,
  .bg-image3 {
    border-radius: 10px;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
  }

  .sub-heading {
    font-size: 8px;
    margin-bottom: -10px;
  }

  .card-heading {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .desc {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .link {
    font-size: 12px;
    margin-left: -20px;
  }
}


/*termino media query 2*/
/*actitudes*/

/* compliance*/



.section80 {
    display: flex;
    align-items: flex-start;
    margin-top: 300px;
    margin-bottom: 200px;
  }
  
  .image80 {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-left: 1200px;
    position: absolute;
  }
  
  .content80 {
    display: flex;
    flex-direction: column;
  }
  
  .sub-title80 {
    font-size: 20px;
    color: rgb(204, 0, 255);
    margin-bottom: 20px;
    margin-left: 105px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .title80 {
    font-size: 60px;
    color: black;
    margin-bottom: 50px;
    margin-left: 100px;
    line-height: 1; 
  }
  
  .text80 {
    font-size: 30px;
    color: black;
    margin-bottom: 50px;
    margin-left: 100px;
  }
  
  
  .boton31 {
    display: inline-bloCk;
    background-color: #000000; /* Color del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.1s ease;
    margin-left: 100PX;
    margin-right: 50px;
  }
  
  
  .boton31:hover {
    background-color: #fc00f3; /* Cambia el color a pink al hacer hover */
    font-weight: bold;
  }
  



  /*-----------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------
  media query responsive
  -------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------*/
/* Media query para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
  .section80 {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .image80 {
    width: 70%;
    margin-left: 0;
    position: relative;
  }

  .content80 {
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .sub-title80 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .title80 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .text80 {
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .boton31 {
    margin-left: 0;
    margin-right: 0;
  }
}


/* termino media query 3 */





  /* carta informativa */

  
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
  }
  
  .main-title {
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-top: 0px;
  }
  
  .main-text {
    font-size: 20px;
    color: #666;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .separator {
    width: 100%;
    height: 1px;
    background-color: #f700ff;
    margin-bottom: 20px;
    margin-top: -15px;
  }

  .container {
    position: relative; /* Agregamos esta propiedad para que el separador absoluto sea relativo a este contenedor */
    /* Estilos adicionales para el contenedor si los hubiera */
  }
  
  .vertical-separator1 {
    position: absolute;
    top: 5%;
    left: 25%; /* Colocamos el separador en el centro horizontal */
    width: 1px;
    height: 13.4%; /* Ajusta la altura del separador como desees */
    background-color: #f700ff; /* Color del separador */
    transform: translateX(-50%); /* Ajustamos la posición para que el separador quede centrado */
  }
  
  .vertical-separator2 {
    position: absolute;
    top: 5%;
    left: 50%; /* Colocamos el separador en el centro horizontal */
    width: 1px;
    height: 13.4%; /* Ajusta la altura del separador como desees */
    background-color: #f700ff; /* Color del separador */
    transform: translateX(-50%); /* Ajustamos la posición para que el separador quede centrado */
  }
  .vertical-separator3 {
    position: absolute;
    top: 5%;
    left: 76%; /* Colocamos el separador en el centro horizontal */
    width: 1px;
    height: 13.4%; /* Ajusta la altura del separador como desees */
    background-color: #f700ff; /* Color del separador */
    transform: translateX(-50%); /* Ajustamos la posición para que el separador quede centrado */
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: calc(18% - 5px);
    background-color: #fff;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px ;
  }
  
  .card-image {
    width: 30%;
    height: auto;
    object-fit: cover;
    
    z-index: 2;
    
   
  }
  
  .card-title {
    font-size: 24px;
    color: #000000;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    text-align: center;
  }
  



  /*-----------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------
  media query responsive
  -------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------*/

/* Media query para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
  .container {
    max-width: 95%; /* Ajusta el ancho máximo para dispositivos pequeños */
    margin-top: 50px;
    padding: 10px; /* Ajusta el padding para dispositivos pequeños */
  }

  .main-title {
    font-size: 28px; /* Ajusta el tamaño del título */
    margin-top: 20px; /* Ajusta el margen superior del título */
  }

  .main-text {
    font-size: 18px; /* Ajusta el tamaño del texto principal */
    margin-top: 15px; /* Ajusta el margen superior del texto principal */
    margin-bottom: 30px; /* Ajusta el margen inferior del texto principal */
  }

  .separator {
    margin-top: -10px; /* Ajusta el margen superior del separador */
  }

  .vertical-separator1,
  .vertical-separator2,
  .vertical-separator3 {
    display: none; /* Oculta los separadores verticales */
  }

  .cards-container {
    flex-direction: column; /* Cambia la dirección del contenedor de las tarjetas */
    align-items: center; /* Centra las tarjetas */
  }

  .card {
    width: 90%; /* Ajusta el ancho de las tarjetas */
    margin-bottom: 20px; /* Ajusta el margen inferior de las tarjetas */
    padding: 10px; /* Ajusta el padding de las tarjetas */
  }

  .card-image {
    width: 20%; /* Ajusta el ancho de la imagen */
  }

  .card-title {
    font-size: 20px; /* Ajusta el tamaño del título de la tarjeta */
    margin-top: 15px; /* Ajusta el margen superior del título de la tarjeta */
  }

  .card-text {
    font-size: 14px; /* Ajusta el tamaño del texto de la tarjeta */
    margin-top: 10px; /* Ajusta el margen superior del texto de la tarjeta */
  }
}


/* Media query para dispositivos con ancho máximo de 768px */

  /*conectividad */

.section81 {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos al centro */
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .image81 {
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: -400px;
  }
  
  .content81 {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    margin-left: 150px; /* Ajusta el espacio entre la imagen y el texto */
  }
  
  .sub-title81 {
    font-size: 20px;
    color: rgb(204, 0, 255);
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
  }
  
  .title81 {
    font-size: 60px;
    color: black;
    margin-bottom: 50px;
    line-height: 1; 
    text-align: left;
    margin-right: -500px;
  
  }
  
  .text81 {
    font-size: 30px;
    color: black;
    margin-bottom: 50px;
    text-align: left;
    display: inline-block;
    margin-right: -500px;
  }
  
  .boton32 {
    display: inline-bloCk;
    background-color: #000000; /* Color del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.1s ease;
    margin-left: 0PX;
    margin-right: 100PX;
  }
  
  
  .boton32:hover {
    background-color: #fc00f3; /* Cambia el color a pink al hacer hover */
    font-weight: bold;
  }
  




  /*-----------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------
  media query responsive
  -------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------*/
/* Media query para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
  .section81 {
    flex-direction: column; /* Cambia la dirección del flex container */
    align-items: center; /* Centra los elementos verticalmente */
    margin-top: 100px; /* Ajusta el margen superior */
    margin-bottom: 100px; /* Ajusta el margen inferior */
  }

  .image81 {
    width: 70%; /* Ajusta el ancho de la imagen */
    margin-top: 0; /* Elimina el margen superior */
    margin-left: 0; /* Elimina el margen izquierdo */
  }

  .content81 {
    margin-left: 0; /* Elimina el margen izquierdo */
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 20px; /* Ajusta el margen superior */
  }

  .sub-title81 {
    text-align: center; /* Centra el subtítulo horizontalmente */
  }

  .title81 {
    font-size: 28px; /* Ajusta el tamaño del título */
    margin-bottom: 30px; /* Ajusta el margen inferior */
    text-align: center; /* Centra el título horizontalmente */
  }

  .text81 {
    font-size: 16px; /* Ajusta el tamaño del texto */
    margin-bottom: 30px; /* Ajusta el margen inferior */
    text-align: center; /* Centra el texto horizontalmente */
    display: block; /* Cambia a bloque para ocupar todo el ancho */
  }

  .boton32 {
    margin-left: 0; /* Elimina el margen izquierdo */
    margin-right: 0; /* Elimina el margen derecho */
    display: block; /* Cambia a bloque para ocupar todo el ancho */
    margin-top: 20px; /* Ajusta el margen superior */
  }
}



/* Media query para dispositivos con ancho máximo de 768px */





  /*videos y letra de fondo mining */
/*titulo*/

.title-wrapper2 {
    text-align: center;
    margin: 50px auto;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
   
  }
  
  .custom-heading2 {
    font-size: 60px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .separator2 {
    width: 200px;
    height: 2px;
    background-color: rgb(255, 0, 255);
    margin: 0 auto;
  }
  
  .para2 {
    font-size: 24px;
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-left: -200px;
    margin-right: -200px;
  }
  
/*media query inicio */


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .title-wrapper2 {
    text-align: center;
    margin: 30px auto;
    margin-bottom: -70px;
  }

  .custom-heading2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 15px;
  }

  .separator2 {
    width: 150px;
    height: 2px;
    background-color: rgb(255, 0, 255);
    margin: 0 auto;
  }

  .para2 {
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: 20px;
  }
}



/* media query final */


/* video*/


.video-background {
    position: relative;
    width: 150%;
    height: 100vh;
    overflow: hidden;
    margin-top: 100px;
    background-color: #000000;
    margin-bottom: 500px;
    margin-left: 0px;
    margin-right: 0px;
    
  }
  
  .video-background video {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 95%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    right: 0px;
    width: 140%;
    height: 110%;
    background-image: url('https://terawatt.s3.us-east-2.amazonaws.com/img/data+fondo.png');
    background-size: cover;
    background-position: center;
    opacity: 1;
    margin-left: -100px;
  }
  
  
  
  .text-container {
    position: relative;
    z-index: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -320px;
   
    
    
  }
  
  .text-container h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .text-container p {
    font-size: 16px;
  }
  
  
  
  /* 1 */
  .text-container .title1 {
    font-size: 24px;
    color: #d400ff;
    text-align: left;
    margin-left: -320px;
    margin-bottom: 12px;
    margin-top: 200px;
    
  }
  
  .text-container .text1 {
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin-top: 0px;
    text-align: left;
    margin-left: -200px;
    
  }
  
  
  .gif1 {
    display: block;
    margin: 0 auto;
    margin-top: -40px;
    transform: translateY(-50%);
    width: 30px; /* Ajusta el ancho del GIF según tus necesidades */
    height: auto; /* El alto se ajusta automáticamente según la proporción */
  }
  
  

  
  /* 2 */
  .text-container .title2 {
    font-size: 24px;
    color: #d400ff;
    text-align: left;
    margin-left: -250px;
    margin-bottom: 10px;
    margin-top: 30px;
    
  }
  
  .text-container .text2 {
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin-top: 0px;
    text-align: left;
    margin-left: -150px;
    
  }

  .text2 a {
    text-decoration: none;
    color: #00ffe5;
    transition: color 0.1s;
    font-weight: bold;
  }
  
  .text2 a:hover {
    color: #e600ff;
    font-weight: bold;
  }
  
  .gif2 {
    display: block;
    margin: 0 auto;
    margin-top: -40px;
    transform: translateY(-50%);
    width: 40px; /* Ajusta el ancho del GIF según tus necesidades */
    height: auto; /* El alto se ajusta automáticamente según la proporción */
  }
  /**/
  


  /*-----------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------
  media query responsive
  -------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------*/
  @media (max-width: 768px) {
    .video-background {
      position: relative;
      width: 110%;
      height: 50vh;
      overflow: hidden;
      background-color: #000000;
      margin-top: 50px;
      margin-bottom: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .video-background video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 130%;
      height: 100%;
      background-image: url('https://terawatt.s3.us-east-2.amazonaws.com/img/data+fondo.png');
      background-size: cover;
      background-position: center;
      opacity: 1;
     margin-left: -180px;
    }
    
    .text-container {
      position: relative;
      z-index: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0px;
    }
    
    .text-container h4 {
      font-size: 24px;
      margin-bottom: 10px;
      font-family: 'Poppins', sans-serif;
      text-align: left;
    }
    
    .text-container p {
      font-size: 12px;
    }
    
    .text-container .title1,
    .text-container .title2 {
      font-size: 18px;
      color: #d400ff;
      text-align: left;
      margin-top: 50px;
      margin-bottom: 10px;
      margin-left: -10px;
    }
    
    .text-container .text1,
    .text-container .text2 {
      font-size: 15px;
      color: #000000;
      text-align: left;
      margin-top: 0;
      margin-left: -50px;
    }
    
    .gif1,
    .gif2 {
      display: block;
      margin: 0 auto;
      margin-top: -20px;
      transform: translateY(-50%);
      width: 20px;
      height: auto;
      display: none;
    }
    
    .text2 a {
      text-decoration: none;
      color: #00ffe5;
      transition: color 0.1s;
      font-weight: bold;
    }
    
    .text2 a:hover {
      color: #ff8c00;
      font-weight: bold;
    }
  }
  


  
/* Media query para dispositivos con ancho máximo de 768px */
  
  /**/
 
  /*graficos de conexion*/

  .container50 {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    position: relative; /* Agregamos esta línea */
  }
  
   .main-title5 {
    font-size: 36px;
    color: black;
    text-align: center;
    position: absolute; /* Agregamos esta línea */
    top: -30%; /* Agregamos esta línea */
    left: 50%; /* Agregamos esta línea */
    transform: translate(-50%, -50%); /* Agregamos esta línea */
    margin-bottom: 0px;
  }
  
  .section1, .section2 {
    flex-basis: 48%;
  }
  
  .image-left {
    display: block;
    max-width: 10%;
    margin-left: 260px;
  }

  .image-right{
    display: block;
    max-width: 5%;
    margin-left: 260px;
  }
  
  .text-left, .text-right {
    color: black;
    font-weight: bold;
  }
  
  .line-left, .line-right {
    width: 50px;
    height: 3px;
    background-color: rgb(255, 0, 242);
    margin-left: 260px;
  }
  
  .subtitle-left, .subtitle-right {
    font-size: 35px;
    color: black;
  }
  
  .subtext-left, .subtext-right {
    color: black;
    margin-top: -30px;
    margin-bottom: 200px;
  }
  
  .vertical-line {
    width: 2px;
    height: 200px;
    background-color: rgb(255, 0, 242);
    margin: 0 auto;
  }
  



  /*MEIDA QUERY INICIO */
@media (max-width: 768px) {
  .container50 {
    flex-direction: column;
    align-items: center;
    margin-top: -400px;
  }

  .main-title5 {
    font-size: 30px;
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin-bottom: 20px;
    text-align: center;
  }

  .section1, .section2 {
    flex-basis: 100%;
  }

  .image-left, .image-right {
    display: block;
    max-width: 60%;
    margin: 0 auto;
  }

  .text-left, .text-right {
    text-align: center;
  }

  .line-left, .line-right {
    width: 50px;
    height: 3px;
    background-color: rgb(255, 0, 242);
    margin: 0 auto;
    margin-top: 20px;
  }

  .subtitle-left, .subtitle-right {
    font-size: 25px;
    text-align: center;
  }

  .subtext-left, .subtext-right {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .vertical-line {
    width: 2px;
    height: 150px;
    background-color: rgb(255, 0, 242);
    margin: 20px auto;
  }

  .image-left {
    max-width: 20%;
    margin-left: 230px;
    margin-top: 20px;
  }

  .image-right {
    max-width: 10%;
    margin-left: 270px;
    margin-top: 20px;
  }
}


  /*MEDIA QUERY FINAL */

  
/*MENSAJE DEL SUB DIRECTOR*/


.section12 {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    padding-bottom: 500px;
    margin-left: 0px;
    margin-top: 0px;
  }
  
  .title-container12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .title15 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin-left: 50px;
    margin-top: 400px;
    text-align: left;
    display: flex;
  }
  
  
  .title15::before {
    content: "";
    position: absolute;
    margin-top: 14px;
    margin-left: -50px;
    width: 40px;
    height: 3px;
    background-color: rgb(255, 0, 255);
    transform: translateY(-50%);
  }
  
  .title16 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin-left: 0px;
    margin-top: -30px;
    text-align: left;
  }
  .image13 {
    width: 680px;
    height: auto;
    margin-left: 750px;
    margin-top: -300px;
  }
  
  .content15 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin-left: -1450px;
    margin-top: 650px;
    text-align: left;
    
    
  }
  
  .button-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0px;
    margin-top: 0px;
  }
  
  .custom-button {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #d400ff;
  }
  



/*inicio media query */

@media (max-width: 768px) {
  .section12 {
    display: block;
    margin-top: 50px;
    padding-bottom: 300px;
    margin-left: 0;
    margin-top: 0;
  }

  .title15 {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 100px;
    
  }

  .title15::before {
    width: 30px;
  }

  .title16 {
    font-size: 36px;
    margin-top: 10px;
    margin-left: 200px;
  }

  .image13 {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .content15 {
    font-size: 18px;
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
  }

  .button-container {
    justify-content: center;
    margin-top: 20px;
  }

  .custom-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}





/*termino media query*/

  

/*titulo informativo final*/

.curved-section {
  position: relative;
  background-color: #424141;
  box-shadow: 0 0 8px#0d00ff;
  border: #a200ff;
  padding: 20px;
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 50px;
  margin-right: 250px;
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
  color: white;
  margin-bottom: -150px;
  z-index: 1;
  margin-top: 0PX;
  width: 1000px;
  height: 100px;
  
}

.bold-text {
  text-align: center;
  transform: translateX(50px);
  margin-left: 0px;
  font-size: 70%;
  text-align: left;
}

.subscription-form {
  display: flex;
  align-items: center;
  border-color: #bc02ff;
}

.email-input {
  padding: 10px;
  border: 2px solid #e600ff;
  border-radius: 5px 0 0 5px;
  margin-left: 700px;
  margin-top: -70px;
  position: absolute;
  
}

.subscribe-button {
  padding: 10px 20px;
  background-color: rgb(124, 123, 124);
  color: #ffffff;
  border: none;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin-left: 900px;
  margin-bottom: 0;
  margin-top: -70px;
  position: absolute;
}

.subscribe-button:hover {
  background-color: #ff00fb;
}



/*-----------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------
  media query responsive
  -------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------*/



/* Media query para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
  .curved-section {
    margin: 0; /* Elimina los márgenes laterales */
    width: auto; /* Ancho automático */
    padding: 10px; /* Ajusta el padding del contenedor */
    font-size: 100%; /* Restablece el tamaño de fuente */
    margin-bottom: -100px; /* Ajusta el margen inferior */
    height: auto; /* Altura automática */
  }

  .bold-text {
    transform: none; /* Elimina la transformación */
    margin-left: 10px; /* Restablece el margen izquierdo */
    text-align: center; /* Centra el texto */
    font-size: 18px; /* Restablece el tamaño de fuente */
  }

  .email-input,
  .subscribe-button {
    width: 100%; /* Ancho completo */
    max-width: 300px; /* Ancho máximo */
    margin: 10px auto; /* Centra horizontalmente */
    position: static; /* Restablece la posición */
  }

  .subscribe-button {
    margin-top: 0; /* Restablece el margen superior */
    margin-bottom: 8px; /* Ajusta el margen inferior */
  }
}


/*termino media query 9*/
/*footter*/

.footer {
  padding-top: 0px;
  background-color: #ffffff;
  margin-top: 0px;
  padding-bottom: 0px;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;
  margin-bottom: -15px;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  width: 20%;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  margin-left: -830px;
}

.footer-title1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff00cc;
  text-align: left;
  margin-left: 25px;
}

.footer-title2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  text-align: left;
 
  display: inline-block;
  margin-left: 10px;
  white-space: nowrap;
}

.footer-text {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  text-align: left;
  padding-left: -30px;
  padding-right: -30px;
  margin-left: -350px;
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation li {
  margin-bottom: 8px;
  text-align: left;
  margin-left: 20px;
  line-height: 1.8;
  font-size: 20px;
}

.footer-navigation li a {
  color: #000000;
  text-decoration: none;
  
  
}

.footer-navigation li a:hover{
  color: #ff00e6;
  text-decoration: none;
}

.footer-form {
  margin-top: 20px;
  border: #bc02ff;
}

.footer-form div {
  color: #000000; /* Cambia el color del texto según tu preferencia */
  margin-top: 50px;
  font-size: 18px;
  margin-left: 50px;
  text-align: center;
}


.footer-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-button {
  padding: 10px 20px;
  background-color: #626161;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 80px;
}

.footer-button:hover {
  background-color: #d400ff;
}

.footer-separator {
  height: 1.5px;
  background-color: #f203ff;
  margin: 100px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:150px ;
  margin-top: -80px;
}

.footer-logo img {
  height: 40px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.footer-trademark-text {
  font-size: 18px;
  color: #000000;
  margin-left: -1700px;
}

.footer-trademark-button {
  padding: 8px 16px;
  background-color: #626161;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
  margin-right: 100px;
  margin-top: -100px;
  margin-bottom: 50px;
  font-size: 18px;
}

.footer-trademark-button:hover {
  background-color: #d400ff;
}


.redes-sociales {
  margin-top: 20px;
  margin-left: 50px;
}

.red-social-link {
  display: inline-block;
  margin-right: 10px;
}

.red-social-link img {
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.red-social-link:hover img {
  filter: none;
  cursor: pointer;
}





/*-----------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------
  media query responsive
  -------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------*/
 /* Media query para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
  .footer {
    padding: 20px 0;
    margin: 0;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    width: 100%;
    margin: 20px 0;
    
  }

  .footer-title1,
  .footer-title2 {
    margin-left: 0;
    text-align: center;
    white-space: normal;
  }

  .footer-text {
    margin-left: 100px;
    text-align: center;
    padding: 0;
    margin-right: 100px;
  }

  .footer-title{
    margin-left: 0px;
  }
  .footer-navigation {
    text-align: center;
    margin-left: 250px;
  }

  .footer-navigation li {
    margin-left: 0;
  }

  .footer-button {
    margin-left: 0;
  }

  .footer-separator {
    margin: 50px 0;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 0;
    margin-top: 20px;
  }

  .footer-logo img {
    margin-left: 0;
  }

  .footer-trademark-text {
    margin-left: 0;
    text-align: center;
  }

  .footer-trademark-button {
    margin: 10px 0;
  }

  .redes-sociales {
    margin-left: 0;
    text-align: center;
  }
}

  

  /*termino de media query 13*/